body{
    box-sizing: border-box;
    margin: 5%;
}

.second-container{
    color: red;
    background-color: cyan;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
.main-container{
    background-color: yellow;
    width: 100%; /* cant occupy according to content is strictly followed */
    height: 60vh; /*heights keeps increasing without limit as content is added*/
}
.middle{
    margin: 5%;
    color: white;
    background-color: blue;
}
.fontclass{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}
.rounded {
    border-radius: 10px;
}
.bringtocenter{
    padding-left: 44%;
}